.card {
  display: grid;
  width: 150px;
  height: 100px;
  background-color: cadetblue;
  border: solid;
  border-radius: 5px;
  align-content: center;
  justify-content: center;
}

.username {
  grid-column: 1;
  grid-row: 1;
}

.deleteBtn {
  grid-column: 1;
  grid-row: 2;
}
