.card {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 50px;
    background-color: cadetblue;
    border: solid;
    border-radius: 5px;
    align-content: center;
    justify-content: center;
}